html, body {
    height: 100%; 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: black;
    color: red;
}

#Content {
    text-align: center;
}

#Counter {
    margin-top: 300px; 
}
